
body {
  font: 0.7em sans-serif;
  background-color: white;
}
h2 {
	color: darkblue;
	font-size: 2em;
	padding-left: 0.3em;
}
a {
	color: black;
	text-decoration: none;
	font-size: 1.5em;
}
a:hover {
    background-color: yellow;
	color: darkblue;
}
li {	
	color: black;
	margin-left: 2em;
	padding: 0.5em;
}
.axis path,
.axis line {
  fill: none;
  stroke: lightgrey;
}

.lineTemp {
  fill: none;
  stroke: orange;
  stroke-width: 2px;
}

.linePressure {
  fill: none;
  stroke: grey;
  stroke-width: 2px;
}

.lineMoisture {
  fill: none;
  stroke: #00AED1;
  stroke-width: 2px;
}

.axis tick, .axis text {
  fill: lightgrey;
}

.y0Axis text {
  fill: orange;
}
.y1Axis text {
  fill: grey;
}
.y2Axis text {
  fill: #00AED1;
}

